.p-card-footer {
  display: flex;
  justify-content: space-around; /* This will space out the buttons equally */
  padding: 0.5rem; /* Add some padding if needed */
}

.custom-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.card-date {
  font-weight: bold;
  margin-right: 1rem;
}

.card-title {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .custom-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-date {
    margin-bottom: 0.5rem;
  }
}
