.p-card-footer {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem; 
}

.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    max-width: 300px;
}

.header-right {
    width: 50%;
    text-align: center;
}

.blog-image-container {
    width: 100%;
    overflow: hidden;
    
}

.blog-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 600px;
}

.card-title {
    display: block;
    margin-bottom: 8px;
}

.card-date {
    display: block;
    text-align: right;
}


@media (max-width: 768px) {
  .custom-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blog-image-container {
    width: 100%;
    margin-bottom: 1rem;
  }

  .header-right {
    width: 100%;
  }

  .card-date {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .card-title {
    text-align: center;
    margin-bottom: 8px;
  }
}

