<div class="full-page-flex-center">
    <div class="centered-card">
        <div class="p-card p-shadow-24">
            <div class="p-card-body text-center">
                <i class="pi pi-exclamation-triangle icon-warning"></i>
                <h1>404</h1>
                <h2>Page Not Found</h2>
                <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
                <button pButton type="button" label="Go Back" (click)="goBack()" class="p-button-rounded p-mt-3"></button>
            </div>
        </div>
    </div>
</div>
