.full-page-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.centered-card {
    max-width: 800px;
    min-width: 400px;
    width: 100%;
}

.p-card {
    margin: 0 auto; /* Center the card horizontally */
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 2rem; /* Add some padding inside the card */
    box-sizing: border-box; /* Include padding in the card's total width and height */
}

.text-center {
    text-align: center;
}

.icon-warning {
    font-size: 4em;
    color: #f9c851;
}

@media (max-width: 768px) {
    .centered-card {
        padding: 1rem;
        min-width: auto; /* Allow the card to be smaller on mobile devices */
    }
}
